:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

body{
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white;
}

.container{
    display:flex;   
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family:  "Times New Roman", serif;
    color:rgb(88, 218, 179);

}

.mc{
    height:250px;
    width:850px;
}
h2{
    margin: 0;
    padding: 0;
}
#taskInput{
    font-size: 20px;
    margin: 0;
    padding: 0;
    height: 60px;
    width:  100%;
    border: 2px solid grey;
    border-radius:1000px;
    background-color: black;
    color:rgb(139, 136, 136);
}

#addBtn{
    top:0;
    right: 0;
    position:absolute;

    height: 100%;
    padding: 0 30px;
    border-radius: 1000px;
    border: none;
    background-color:rgb(88, 218, 179);
    cursor:pointer;
    font: inherit;
    font-weight: 600;

}

form{
    position: relative;
}