:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
body{
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white;
}

.container{
    display:flex;   
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    gap: 10px;
    

}

#taskInput{
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 12px 20px;
    width:  100%;
    border: 2px solid var(--secondary-color);
    border-radius:1000px;
    background: none;
    color:var(--text-color);
    caret-color: var(--accent-color);
}

#taskInput:focus{
    outline:none;
}
#addBtn{
    top: 0;
    right: 0;
    position:absolute;

    height: 100%;
    padding: 0 30px;
    border-radius: 1000px;
    border: none;
    background-color:rgb(88, 218, 179);
    cursor:pointer;
    font: inherit;
    font-weight: 600;

}

form{
    position: relative;
}

#todo-1{
    display:none;
}