:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color:var(--text-color)

}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background);
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color:var(--accent-color);
}

.container{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#text-input{
    box-sizing: border-box;
    padding: 12px 20px;
    background: none;
    border: 2px solid var(--secondary-color);
    font: inherit;
    width: 100%;
    color: var(--text-color);
    caret-color: var(--accent-color);
    border-radius: 1000px;
}

#text-input:focus{
    outline:none;
}

#addbtn{
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 30px;
    height: 100%;
    border: none;
    border-radius: 1000px;
    background-color: var(--accent-color);
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

form{
    position: relative;
}

.todo{
    background-color: var(--primary-color);
    padding: 0 16px;
    margin-bottom: 10px;
    border-radius: 15;
    display: flex;
    align-items: center;
}

.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
}

.deletebtn{
    padding: 3px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}



