:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --accent-color: #00FFC4;
    --text-color: #F9F9F9;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color:var(--text-color)

}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background);
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    color:var(--accent-color);
}

.container{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#text-input{
    box-sizing: border-box;
    padding: 12px 20px;
    background: none;
    border: 2px solid var(--secondary-color);
    font: inherit;
    width: 100%;
    color: var(--text-color);
    caret-color: var(--accent-color);
    border-radius: 1000px;
}

