body{
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid white;
    color:white;

}

.container{
    display:flex;   
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family:  "Times New Roman", serif;
    color:rgb(88, 218, 179);

}

.mc{
    height:250px;
    width:850px;
    border: 5px solid white;
}

#taskInput{
    font-size: 30px;
    height: 100px;
    width: 200px;
    border: 2px solid grey;
    border-radius:10px;
    background-color: black;
    color:rgb(139, 136, 136);
}

#addBtn{
    border: 2px solid grey;

}