body{
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 5px solid white;

}

.container{
    display:flex;   
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family:  "Times New Roman", serif;
    color:rgb(88, 218, 179);

}


.mc{
    height:250px;
    width:850px;
    border: 5px solid white;
}